* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
    display: inline-block;
}

#container-small {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

#jogador {
    background: yellow;
    height: 30px;
    width: 100%;
}

#vida-jogador {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#vida-total-jogador {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#inimigo {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

#vida-total-inimigo {
    position: relative;
    height: 30px;
    width: 100%;
}

#vida-inimigo {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#displayText {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

canvas {
    width: 99vw;
    height: 99vh;
}

@media (max-width: 750px) {
    canvas {
        opacity: 0;
    }
}